{% extends 'template.html' %}

{% block subtitle %}Login{% endblock %}

{% block content %}
<div class="first container content">
  <form class="fist" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Nazwa użytkownika:</label>
      <input type="text" class="form-control" id="name" name="username" placeholder="Nazwa użytkownika">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password" placeholder="Hasło">
    </div>
       <button type="submit" class="btn btn-primary">Zaloguj</button>
  </form>
</div>
{% endblock %}
