{% extends 'template.html' %}

{% block subtitile %}Registration{% endblock %}

{% block content %}
<div class="first container content">
  <form class="first" action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Nazwa użytkownika:</label>
      <input type="text" class="form-control" id="name" name="username" placeholder="Nazwa użytkownika">
    </div>
    <div class="form-group">
      <label for="mail">Adres e-mail:</label>
      <input type="text" class="form-control" id="mail" name="mail" placeholder="jasiu1234@przyklad.pl">
    </div>
    <div class="form-group">
      <label for="pwd">Hasło:</label>
      <input type="password" class="form-control" id="pwd" name="password" placeholder="Hasło">
    </div>
       <button type="submit" class="btn btn-primary">Zarejestruj</button>
  </form>
</div>
{% endblock %}%}
