{% extends 'template.html' %}

{% load static %}
{% block js %}

{% endblock %}

{% block subtitile %}{% endblock %}

{% block content %}

<article class="container content">
    {% if user.is_authenticated %}
    <p> Widaj zautentukowany uzytkowniku. :) Napisz cos</p>
    <form class="form-inline" action="{% url 'wall' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="message">Napisz coś</label>
        <input type="text" class="form-control" id="message" name="message" placeholder="Co u ciebie?">
      </div>
      <button type="submit" class="btn btn-outline-primary">Wyślij</button>
    </form>
    <div class="card-columns">
      {% for message in messages %}
      <div class="card bg-light message">
        <div class="card-body">
          <h4 class="card-title">{{ message.author }}</h4>
          <p class="card-text">{{ message.message }}</p>
        </div>
        <div class="card-footer">
          <button type="button" id="message-{{message.id}}"
          {% if message.liked %}
          class="btn btn-primary btn-sm unlike like-btn">Unlike
          {% else %}
          class="btn btn-outline-primary like btn-sm like-btn">Like
          {% endif %}
          </button>
          <!-- <span class="like-nb">0</span> -->
          {% if message.author in invited %}
          <button type="button" id="invitation-{{message.author}}"
              class="btn btn-default btn-sm invitation-btn disabled">Invited</button>
          {% else %}
          <button type="button" id="invitation-{{message.author}}"
              class="btn btn-default btn-sm invitation-btn">Add friend</button>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <p>{{ messages_raw }}</p>
    <p>{{ invited_raw}}</p>
    {% else %}
    <p>Nic nie zobaczysz. Zaloguj się.</p>
    {% endif %}
</article>
{% endblock %}
