{% extends 'template.html' %}

{% load static %}
{% block js %}
<link rel="stylesheet" href="{% static 'wall.css' %}">
<script src="{% static 'wall.js' %}"></script>
{% endblock %}

{% block subtitile %}{% endblock %}

{% block content %}

<article class="container content">
    {% if user.is_authenticated %}
    <form id="form" class="form" action="{% url 'wall' %}" method="POST">
      {% csrf_token %}
      <!-- <div class="form-row"> -->
      <div class="form-group">
        <div class="input-group" id="size">
            <input type="text" class="form-control" placeholder="Napisz co u ciebie..." name="message">
            <!-- <textarea type="text" class="form-control" placeholder="Napisz co u ciebie..." name="message"></textarea> -->
            <div class="input-group-append">
              <button class="btn btn-outline-warning" type="submit">Wyślij</button>
          </div>
        </div>
      </div>
    <!-- </div> -->
    </form>
    <div class="card-columns">
      {% for message in messages %}
      <div class="card bg-light message">
        <div class="card-body">
          <h4 class="card-title">{{ message.author }}</h4>
          <p class="card-text">{{ message.message }}</p>
        </div>
        <div class="card-footer">
          <button type="button" id="message-{{message.id}}"
          {% if message.liked %}
          class="btn btn-primary btn-sm unlike like-btn">Unlike
          {% else %}
          class="btn btn-outline-primary like btn-sm like-btn">Like
          {% endif %}
          </button>
          <!-- <span class="like-nb badge badge-primary">{% if message.likes %}{{message.likes}}{% else %}0{% endif %}</span> -->
          {% if message.author in invited %}
          <button type="button" id="invitation-{{message.author}}"
              class="btn btn-default btn-sm invitation-btn disabled">Invited</button>
          {% else %}
          <button type="button" id="invitation-{{message.author}}"
              class="btn btn-default btn-sm invitation-btn">Add friend</button>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>Nic nie zobaczysz. Zaloguj się.</p>
    {% endif %}
</article>
{% endblock %}
